h1{
  opacity: 1.0;
  color: gold;
}

header{
  border: none;
   background: url("../images/wecoinbanner.jpg");
   height: 200px;
   background-repeat:no-repeat;
   background-size: cover;
}

.panel {
  border: none;
}

#map-canvas {
    height: 400px;
    border: darkorange solid 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#map-canvas img {
    max-width: none;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover {
    color: orange;
    background-color: black;
}

a {
    color: orange;
}

.nav>li>a.active,
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: black;
    color: orange;
}

#categories-multiselect {
    background-color: black;
    color: orange;
    display: inline-block;
    justify-content: space-around;
    border: solid darkorange 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    margin-left: -15px;
    margin-right: -30px;
    align-content: center;
    padding-left: 50px;
}


.merchants-panel-heading {
    width: 100%;
    text-align: left;
    display: block;
    background: darkorange;
    color: black;
    font-weight: bold;
    padding-left: 0px;
    padding-rigth: 0px;
}

#merchants-appear-here {
    text-align: left;
    display: block;
    overflow-y: scroll;
    padding-top: 3px;
    padding-left: 20px;
    height: 320px;
    margin-right: -15px;
    margin-left: -15px;
}

#merchants-container {
    margin-left: 1px;
    margin-top: 20px;
    border: solid darkorange 1px;
    background: black;
    color: darkorange;
    border-radius: 5px;
  opacity: 0.8;
}

.container{
/*  margin-bottom: 200px;*/
}

fieldset{
  display: inline-block;
  color: gold;
}

body{
  background-image: url("../images/bitcoinbackground.jpg");
  
}

.map-above{
  color: gold;
}

.page-footer{
  background: white;
  margin-top: 200px;
  margin-bottom: 75px;
}
