h1{
  opacity: 1.0;
  color: gold;
}

header{
  border: none;
   background: url("../images/wecoinbanner.jpg");
   height: 200px;
}

.panel {
  border: none;
}

#map-canvas {
          height: 400px;
          border: darkorange solid 1px;
          border-radius: 3px;
      }
      
#map-canvas img {
          max-width: none;
      }

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover {
	color: orange;
	background-color: black;
}
a{color: orange;}

.nav>li>a.active,
.nav>li>a:hover,
.nav>li>a:focus {
   background-color: black;
   color:orange;
}




.merchants-panel-heading {
  width: 100%;
  text-align: left;
  display: block;
  background: darkorange;
  color: black;
  font-weight: bold;
}

#merchants-appear-here {
  text-align: left;
  display: block;
  overflow-y: scroll;
  padding-top: 3px;
  padding-left: 10px;
  height: 300px;
}

#merchants-container {
  margin-left: 1px;
  margin-top: 20px;
  border: solid darkorange 1px;
  background: black;
  color: darkorange;
  border-radius: 3px;
  opacity: 0.8;
}

.container{
/*  margin-bottom: 200px;*/
}

fieldset{
  display: inline-block;
  color: gold;
}

body{
  background-image: url("../images/bitcoinbackground.jpg");
}

.map-above{
  color: gold;
}

.page-footer{
  background: white;
  margin-top: 200px;
  margin-bottom: 75px;
}